In [1]:
import pandas as pd
import numpy as np

train_photos_to_biz = pd.read_csv('train_photo_to_biz_ids.csv')
train_labels = pd.read_csv('train.csv')

In [39]:
print(train_photos_to_biz.head())

   photo_id  business_id
0    204149         3034
1     52779         2805
2    278973          485
3    195284          485
4     19992          485

In [3]:
print(train_labels.head())

   business_id         labels
0         1000  1 2 3 4 5 6 7
1         1001        0 1 6 8
2          100    1 2 4 5 6 7
3         1006      1 2 4 5 6
4         1010          0 6 8

In [4]:
print(train_photos_to_biz.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234842 entries, 0 to 234841
Data columns (total 2 columns):
photo_id       234842 non-null int64
business_id    234842 non-null int64
dtypes: int64(2)
memory usage: 3.6 MB
None

In [5]:
print(train_labels.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
business_id    2000 non-null int64
labels         1996 non-null object
dtypes: int64(1), object(1)
memory usage: 31.3+ KB
None

In [6]:
print('train_to_biz', train_photos_to_biz.shape)
print('business_id_to_labels', train_labels.shape, end='\n\n')

# print the null values
print('NaN Values')
print(train_photos_to_biz[pd.isnull(train_photos_to_biz['photo_id'])], end='\n\n')
print(train_labels[pd.isnull(train_labels['labels'])])

train_to_biz (234842, 2)
business_id_to_labels (2000, 2)

NaN Values
Empty DataFrame
Columns: [photo_id, business_id]
Index: []

      business_id labels
385          1627    NaN
928          2661    NaN
1083         2941    NaN
1678          430    NaN

In [7]:
# test for duplicates; in both equal 1 we're good
print(max(train_photos_to_biz.groupby(train_photos_to_biz.columns.tolist(),as_index=False).size()))
print(max(train_labels.groupby(train_labels.columns.tolist(),as_index=False).size()))

print(np.unique(train_photos_to_biz['photo_id'].values).size)
print(np.unique(train_labels['business_id'].values).size)

1
1
234842
2000

In [13]:
print(train_labels['labels'].values)

['1 2 3 4 5 6 7' '0 1 6 8' '1 2 4 5 6 7' ..., '8' '1 2 4 5 6 7' '1 2 5 6 7']

In [21]:
#check for skewed classes
classes = {'0':0, '1':0, '2':0, '3':0, '4':0, '5':0, '6':0, '7':0, '8':0}

for class_string in train_labels['labels'].values:
    class_string = str(class_string)
    class_list = class_string.split(' ')
    
    for cl in class_list:
        if cl != 'nan':
            classes[cl] += 1
        
print(classes)

{'0': 671, '1': 993, '2': 1026, '3': 1003, '4': 547, '5': 1249, '6': 1360, '7': 572, '8': 1238}